In [11]:
# from xxxx import yyyy 從xxxx函式庫中匯入yyyy模組
# import xxxx 匯入xxxx模組
# drive.mount 綁定雲端磁碟
# os.chdir 變更目錄
# ls -l 列出目錄下的檔案

from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/My Drive/112_2_LATIA/") # 切換目錄
!ls -l "/content/gdrive/My Drive/112_2_LATIA/112_student.csv" # 列出目錄下的檔案
#!ls -l "自行填寫正確的路徑"

Mounted at /content/gdrive/
-rw------- 1 root root 92484 Feb 27 06:22 '/content/gdrive/My Drive/112_2_LATIA/112_student.csv'

In [12]:
import pandas as pd
csv_file = './112_student.csv'
df = pd.read_csv(csv_file)
print(df.head(), '\n')
print('\n', df.info(verbose=True, show_counts=True))
print('\n', df.isna().sum())

print('\n', df.describe(include='all'))

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3  112     1  國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4  112     2  國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般
3     0     0     0     0     0   316   499  30 臺北市  1 一般
4    60   110    50   115    56     0     0  18 新竹市  1 一般

[5 rows x 26 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB

 None

 學年度       0
學校代碼      0
學校名稱      0
日間∕進修別    0
等級別       0
總計        0
男生計       0
女生計       0
一年級男      0
一年級女      0
二年級男      0
二年級女      0
三年級男      0
三年級女      0
四年級男      0
四年級女      0
五年級男      0
五年級女      0
六年級男      0
六年級女      0
七年級男      0
七年級女      0
延修生男      0
延修生女      0
縣市名稱      0
體系別       0
dtype: int64

           學年度         學校代碼    學校名稱 日間∕進修別   等級別            總計           男生計  \
count   764.0   764.000000     764    764   764    764.000000    764.000000
unique    NaN          NaN     145      4    10           NaN           NaN
top       NaN          NaN  弘光科技大學    D 日  M 碩士           NaN           NaN
freq      NaN          NaN      10    448   249           NaN           NaN
mean    112.0   756.200262     NaN    NaN   NaN   1433.022251    708.655759
std       0.0   504.152506     NaN    NaN   NaN   2633.932756   1385.170171
min     112.0     1.000000     NaN    NaN   NaN      1.000000      0.000000
25%     112.0    48.000000     NaN    NaN   NaN    103.750000     43.750000
50%     112.0  1029.000000     NaN    NaN   NaN    373.500000    180.000000
75%     112.0  1060.000000     NaN    NaN   NaN   1387.500000    590.500000
max     112.0  3002.000000     NaN    NaN   NaN  19466.000000  10885.000000

                 女生計         一年級男         一年級女  ...        五年級男        五年級女  \
count     764.000000   764.000000   764.000000  ...  764.000000  764.000000
unique           NaN          NaN          NaN  ...         NaN         NaN
top              NaN          NaN          NaN  ...         NaN         NaN
freq             NaN          NaN          NaN  ...         NaN         NaN
mean      724.366492   177.971204   173.545812  ...   11.871728   20.469895
std      1348.848241   349.047086   321.080379  ...   32.233288   81.117153
min         0.000000     0.000000     0.000000  ...    0.000000    0.000000
25%        50.000000     5.000000     4.000000  ...    0.000000    0.000000
50%       166.000000    41.000000    37.000000  ...    0.000000    0.000000
75%       718.500000   161.250000   188.250000  ...    6.000000    6.000000
max     10716.000000  2709.000000  2519.000000  ...  309.000000  897.000000

              六年級男        六年級女        七年級男        七年級女         延修生男  \
count   764.000000  764.000000  764.000000  764.000000   764.000000
unique         NaN         NaN         NaN         NaN          NaN
top            NaN         NaN         NaN         NaN          NaN
freq           NaN         NaN         NaN         NaN          NaN
mean      4.810209    3.615183    2.955497    1.742147    36.647906
std      19.818557   13.204157   17.768959    8.937397    98.370926
min       0.000000    0.000000    0.000000    0.000000     0.000000
25%       0.000000    0.000000    0.000000    0.000000     0.000000
50%       0.000000    0.000000    0.000000    0.000000     0.000000
75%       0.000000    0.000000    0.000000    0.000000    21.000000
max     179.000000  125.000000  312.000000  132.000000  1448.000000

               延修生女    縣市名稱   體系別
count    764.000000     764   764
unique          NaN      24     3
top             NaN  30 臺北市  2 技職
freq            NaN     120   468
mean      27.591623     NaN   NaN
std       74.731977     NaN   NaN
min        0.000000     NaN   NaN
25%        0.000000     NaN   NaN
50%        0.000000     NaN   NaN
75%       18.250000     NaN   NaN
max     1107.000000     NaN   NaN

[11 rows x 26 columns]

In [13]:
import numpy as np
np.set_printoptions(precision=None, threshold=None, edgeitems=None, linewidth=None, suppress=None, nanstr=None, infstr=None, formatter=None, sign=None, floatmode=None)  # reset print options
np.set_printoptions(linewidth=np.inf, threshold=np.inf)
print(df.iloc[0:100,])

    學年度  學校代碼      學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0   112     1    國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1   112     1    國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2   112     1    國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3   112     1    國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4   112     2    國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140
..  ...   ...       ...    ...   ...   ...   ...   ...   ...   ...  ...   ...
95  112    25  國立臺北科技大學    D 日  M 碩士  3558  2535  1023  1060   402  ...     0
96  112    25  國立臺北科技大學    N 職  M 碩士  1604  1110   494   339   172  ...    34
97  112    25  國立臺北科技大學    D 日  B 四技  6371  4444  1927  1079   499  ...     0
98  112    25  國立臺北科技大學    N 修  B 四技  1197   984   213   161    38  ...     0
99  112    25  國立臺北科技大學    D 日  C 二技    22    13     9     0     0  ...     0

    五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0     52    68    37    66    50     0     0  30 臺北市  1 一般
1      1     1     0     0     0     0     0  30 臺北市  1 一般
2     57     0     0     0     0     0     0  30 臺北市  1 一般
3      0     0     0     0     0   316   499  30 臺北市  1 一般
4     60   110    50   115    56     0     0  18 新竹市  1 一般
..   ...   ...   ...   ...   ...   ...   ...     ...   ...
95     0     0     0     0     0     0     0  30 臺北市  2 技職
96    15    34    11     2     0     0     0  30 臺北市  2 技職
97     0     0     0     0     0   181    89  30 臺北市  2 技職
98     0     0     0     0     0    54    14  30 臺北市  2 技職
99     0     0     0     0     0     5     2  30 臺北市  2 技職

[100 rows x 26 columns]

# 1.哪間大專院校有最多的學士生

step1: 取出想要查看的欄位，並印出此資料集共有多少筆紀錄 (len)

step2: 篩選等級別為"B 學士"的DataFrame，並印出有招生博士學制的學校數量

step3: 依據"總計"從大到小排序並印出結果 (sort_values, by, ascending)

In [14]:
df1 = df[['學年度', '學校代碼', '學校名稱', '等級別', '總計', '男生計', '女生計']] # 取出想要觀看的欄位
print("本資料集共有", len(df1), "筆紀錄")
df1_1 = df1[df1['等級別'] == 'B 學士']
print("有招生學士學制的學校數量為", len(df1_1), "\n")
df1_1_sorted = df1_1.sort_values(by='總計', ascending=False)
print("112學年度在籍的學士生最多人數第1名為", df1_1_sorted.head(1)["學校名稱"].values)

本資料集共有 764 筆紀錄
有招生學士學制的學校數量為 97

112學年度在籍的學士生最多人數第1名為 ['淡江大學']

# 2. 國立？所；私立？所

step1: 建立空字串 (lsit=[])

step2: 建立for迴圈，配合if else條件，取出國立與私立

step3: 新增「公私立」column在DataFrame中 (df['公私立'])

step4: 篩選掉重複的學校代碼資料 (drop_duplicates)

step5: 計算公立與私立學校的筆數，並印出結果 (value_counts

In [17]:
type_list = []
for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('國立')
    else:
        type_list.append('私立')
df['公私立'] = type_list
df2 = df.drop_duplicates('學校代碼')
count = df2['公私立'].value_counts()
print(f"本資料集共收集了 {len(df2)} 所學校，其中公立：{count['國立']} 所；私立：{count['私立']} 所。")

本資料集共收集了 145 所學校，其中公立：47 所；私立：98 所。

# 3. 各等級別學制共有？所

step1: 篩選掉重複的學校名稱與等級別 (drop_duplicates, subset)

step2: 計算出等級別的筆數 (value_counts)

step3: 建立等級別的字串，並找出其類別 (unique)

step4: 使用for迴圈，依序列出所有等級別學制的學校數量 (count)

In [7]:
df3 = df.drop_duplicates(subset=['學校名稱', '等級別'])
count = df3['等級別'].value_counts()
degree_list = list(df['等級別'].unique())
print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree[2:]}。")

本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收博士。
一共有130 所學校， 有招收碩士。
一共有67 所學校， 有招收學士。
一共有1 所學校， 有招收4+X。
一共有71 所學校， 有招收二技。
一共有66 所學校， 有招收四技。
一共有46 所學校， 有招收五專。
一共有2 所學校， 有招收七年。
一共有46 所學校， 有招收二專。
一共有1 所學校， 有招收二年制。

# 4. 各縣市分別有多少所學校，位於台北市的大專院校總共有幾所

In [8]:
city_list = []
for i in df['縣市名稱']:
   city_list.append(i[3:])
df['縣市名'] = city_list
df4 = df.drop_duplicates('學校代碼')
count = df4['縣市名'].value_counts()
city_list = df4['縣市名'].unique()
print(f"本資料集共收集了 {len(df4)} 學校，其中：")
for city in city_list:
    print(f"{city}有 {count[city]} 所")
newtaipei = df4[df4['縣市名'] == '臺北市']
print('\n')
print(newtaipei['縣市名'].value_counts())

本資料集共收集了 145 學校，其中：
臺北市有 24 所
新竹市有 5 所
臺南市有 13 所
臺中市有 17 所
桃園市有 12 所
高雄市有 15 所
基隆市有 3 所
嘉義縣有 4 所
彰化縣有 4 所
新北市有 20 所
嘉義市有 2 所
花蓮縣有 4 所
南投縣有 2 所
雲林縣有 3 所
屏東縣有 5 所
臺東縣有 2 所
宜蘭縣有 3 所
苗栗縣有 3 所
澎湖縣有 1 所
金門縣有 1 所
新竹縣有 2 所


臺北市    24
Name: 縣市名, dtype: int64

# 5. 各體系別分別有多少所學校？

In [9]:
df6 = df.drop_duplicates('學校代碼')
count = df6['體系別'].value_counts()
print(f"共有 {len(df6)} 所學校，技職 {count['2 技職']} 所；一般 {count['1 一般']} 所；師範 {count['3 師範']} 所。")

共有 145 所學校，技職 78 所；一般 62 所；師範 5 所。

 # 6. 每校平均最多與最少人的體系？

In [10]:
df8 = df.drop_duplicates('學校代碼')
system_count = df8['體系別'].value_counts()
system_list = list(df['體系別'].unique())
count_student = 0
result_dict = {}
for system in system_list:
    for i in range(len(df)):
        if df.loc[i,'體系別'] == system:
            count_student += int(df.loc[i, '總計'])
    result_dict[system[2:]] = count_student/system_count[system]
    count_student = 0
max_value = max(result_dict.values())
min_value = min(result_dict.values())
max_key = next(key for key, value in result_dict.items() if value == max_value)
min_key = next(key for key, value in result_dict.items() if value == min_value)
print(f"每校平均最多人是 {max_key}，平均每校 {round(max_value,2)} 人；")
print(f"每校平均最少人是 {min_key}，平均每校 {round(min_value,2)} 人。")

每校平均最多人是 一般，平均每校 9224.89 人；
每校平均最少人是 技職，平均每校 6143.56 人。

In [18]:
# 目的是建立一個多層字典結構，用於儲存每所學校的在學生和延修生的男女生數量，然後統計每所學校的男女生數量並更新字典。

# Line35說明，count = {}
# 建立一個空字典，將用於儲存學校的在學生和延修生的男女生數量。

# Line37說明，def create_count_dict(df, count):
# 定義一個函數 create_count_dict，該函數的目的是建立多層字典結構，用於儲存每所學校的男女生數量。

# Line38說明，df7 = df.drop_duplicates('學校代碼')
# 使用 drop_duplicates() 函數根據 '學校代碼' 列刪除重複的行，並將結果儲存在 DataFrame df7 中。確保每個學校代碼僅出現一次。

# Line39說明，for i in df7['學校名稱']:
# 拜訪 df7['學校名稱'] 中的每個學校名稱。

# Line40說明，count[i] = {}
# 將學校名稱作為鍵(key)，建立一個新的空字典作為值(value)，以儲存該學校的男女生數量。

# Line41，44說明，count[i]['在學生'] = {}、count[i]['延修生'] = {}
# 在新建的學校字典中，建立兩個子字典，用於分別儲存在學生和延修生的男女生數量。

# Line42-43，45-46說明，count[i]['在學生']['男生數'] = 0、count[i]['在學生']['女生數'] = 0、count[i]['延修生']['男生數'] = 0、count[i]['延修生']['女生數'] = 0
# 初始化每所學校的男女生數量為0。

# Line49說明，def count_every_schools_data(df):
# 定義一個函數 count_every_schools_data，用於統計每所學校的男女生數量並更新字典。

# Line50說明，for j in range(len(df)):
# 使用 range(len(df)) 拜訪 DataFrame df 中的每一行。

# Line51-54說明，count[df.iloc[j,2]]['在學生']['男生數'] += ...、count[df.iloc[j,2]]['在學生']['女生數'] += ...、count[df.iloc[j,2]]['延修生']['男生數'] += ...、count[df.iloc[j,2]]['延修生']['女生數'] += ...
# 這些行根據每一行的數據更新對應學校的男女生數量。
# 例如，df.iloc[j,2] 是該行的學校名稱，count[df.iloc[j,2]] 取得該學校的字典，然後根據該行的男女生數量更新在學生和延修生的男女生數量。


count = {}

def create_count_dict(df, count): # 建立多層 dict 結構來儲存各校在學與延修生的男女生數
    df7 = df.drop_duplicates('學校代碼')
    for i in df7['學校名稱']:
        count[i] = {}
        count[i]['在學生'] = {}
        count[i]['在學生']['男生數'] = 0
        count[i]['在學生']['女生數'] = 0
        count[i]['延修生'] = {}
        count[i]['延修生']['男生數'] = 0
        count[i]['延修生']['女生數'] = 0


def count_every_schools_data(df):
    for j in range(len(df)):
        count[df.iloc[j,2]]['在學生']['男生數'] += (int(df.iloc[j,8]) + int(df.iloc[j,10]) + int(df.iloc[j,12]) + int(df.iloc[j,14]) + int(df.iloc[j,16]) + int(df.iloc[j,18]) + int(df.iloc[j,20]))
        count[df.iloc[j,2]]['在學生']['女生數'] += (int(df.iloc[j,9]) + int(df.iloc[j,11]) + int(df.iloc[j,13]) + int(df.iloc[j,15]) + int(df.iloc[j,17]) + int(df.iloc[j,19]) + int(df.iloc[j,21]))
        count[df.iloc[j,2]]['延修生']['男生數'] += int(df.iloc[j,22])
        count[df.iloc[j,2]]['延修生']['女生數'] += int(df.iloc[j,23])

create_count_dict(df, count) # 執行Line37定義的Function
count_every_schools_data(df) # 執行Line49定義的Function

# 目的是根據公私立屬性，分別計算國立與私立大學在學生和延修生的男女比例，然後列印出來。

# Line35-36說明，public_current_male = 0 和 public_current_female = 0
# 定義兩個變量 public_current_male 和 public_current_female，分別用於儲存男女生數量的加總，初始值為0。

# Line38說明，df7_1 = df.drop_duplicates('學校代碼', ignore_index=True)
# 使用 drop_duplicates() 函數根據 '學校代碼' 列刪除重複的行，並將結果存儲在 DataFrame df7_1 中。 ignore_index=True 會重新編制索引，以便在後續循環中可以正確地訪問行。

# Line39說明，for i in range(len(df7_1)):
# 通過迴圈拜訪 DataFrame df7_1 中的每一行。

# Line40說明，if df7_1.loc[i,'公私立'] == '國立':
# 檢查每所學校的公私立屬性是否為國立。

# Line41-42說明，public_current_male += count[df7_1.loc[i,'學校名稱']]['在學生']['男生數'] 和 public_current_female += count[df7_1.loc[i,'學校名稱']]['在學生']['女生數']
# 將符合條件的國立大學的在學生男女生數量加入到 public_current_male 和 public_current_female 中。

# Line44說明，ratio = public_current_male/public_current_female*100
# 計算男女比例，將男生數除以女生數，並乘以100獲得百分比。

# Line45說明，print(f'國立大學在學生男女比：{ratio} ≑ {round(ratio,2)}')
# 使用 f-string 格式化輸出，印出國立大學在學生的男女比例，並使用 round() 函數四捨五入至小數點後兩位。

# Line47，56，65說明，df7_2 = df.drop_duplicates('學校代碼', ignore_index=True)、df7_3 = df.drop_duplicates('學校代碼', ignore_index=True) 和 df7_4 = df.drop_duplicates('學校代碼', ignore_index=True)
# 這三行與上述第一行類似，分別建立了三個新的 DataFrame，用於下面的私立大學在學生男女比例和國立、私立大學延修生男女比例的計算。

# Line49，58，67說明，if df7_2.loc[i,'公私立'] == '私立':、if df7_3.loc[i,'公私立'] == '國立': 和 if df7_4.loc[i,'公私立'] == '私立':
# 這三行用於檢查每所學校的公私立屬性是否分別為私立和國立。

# Line53-54說明，ratio = public_current_male/public_current_female*100 和 print(f'私立大學在學生男女比：{ratio} ≑ {round(ratio,2)}')
# 這兩行用於計算私立大學在學生的男女比例，並列印出來，與前面的國立大學類似。



public_current_male = 0
public_current_female = 0

df7_1 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_1)):
    if df7_1.loc[i,'公私立'] == '國立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['在學生']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['在學生']['女生數']

ratio = public_current_male/public_current_female*100 # 男女比計算公式
print(f'國立大學在學生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

df7_2 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_2)):
    if df7_2.loc[i,'公私立'] == '私立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['在學生']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['在學生']['女生數']

ratio = public_current_male/public_current_female*100 # 男女比計算公式
print(f'私立大學在學生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

df7_3 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_3)):
    if df7_3.loc[i,'公私立'] == '國立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['延修生']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['延修生']['女生數']

ratio = public_current_male/public_current_female*100 # 男女比計算公式
print(f'國立大學延修生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

df7_4 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_4)):
    if df7_4.loc[i,'公私立'] == '私立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['延修生']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['延修生']['女生數']

ratio = public_current_male/public_current_female*100 # 男女比計算公式
print(f'私立大學延修生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

國立大學在學生男女比：119.10964038427396 ≑ 119.11
私立大學在學生男女比：96.44547804394217 ≑ 96.45
國立大學延修生男女比：96.9910906275184 ≑ 96.99
私立大學延修生男女比：97.83110715989419 ≑ 97.83

In [20]:
df.head(2)
df.to_csv('112_students_tf.csv', encoding='utf-8', sep=',')